{% extends 'events/base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'events/img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading align-center center">
            <h2 class="center">Connexion</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4 align-content-justify">
    <form method="POST">
      {% csrf_token %}
          {{ form|crispy}}
      <button class="btn btn-outline-info" type="submit">Se connecter</button>
    </form>
  </div>
  <div class="col-lg-4"></div>
  </div>

{% endblock %}