{% extends 'events/base.html' %}

{% block content %}
{% load static %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'events/img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading align-center center heading-mini">
            <h2 class="center">Mon profil</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4 align-content-justify">
    <ul>
        <li class="profile">Username : {{ user.username }} </li>
        <li class="profile">Prénom : {{ user.first_name }} </li>
        <li class="profile">Nom : {{ user.last_name }} </li>
        <li class="profile">Email : {{ user.email }} </li>
    </ul>
  </div>
  <div class="col-lg-4"></div>
  </div>

{% endblock %}