/* Global Styles */
body{
    background-color: #bbac6ac4;
}

.center {
    text-align: center;
}

/* Style for Events App */

.logo-em-tennis {
    width: 30px;
    height: 30px;
}

/* Style for Accounts app */
