{% extends 'events/base.html' %}

{% block content %}
{% load static %}

  <header class="masthead custom" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading heading-mini">
            <h2> Tous les évènements à venir </h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% for event in event_list %}
          <div class="row box margin-top30">
              <div class="col-md-8">
                  <div class="post-preview">
                      <a href="{% url 'events:event_detail' event_id=event.pk %}">
                        <h2 class="post-title margin-top5">
                          {{ event.title}}
                        </h2>
                        <h5 class="post-subtitle">
                          {{event.description}}
                        </h5>
                      </a>
                      <p class="post-subtitle">Date de l'évènement :
                        {{ event.event_date}}</p>
                    </div>
              </div>
              <div class="col-md-4 align-right">
                  <img class='image-event'src="{{ event.image.url }}"/>
              </div>
            </div>
          {% endfor %}
{% endblock %}