{% extends 'events/base.html' %}

{% block content %}
{% load static %}

<!-- Page Header -->
<header class="masthead custom">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading heading-micro">
            <span class="subheading"> </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <div class="row margin-top30">
              <div class="col-md-8">
                  <h1>{{ event.title }}</h1>
                    <b>Le {{event.event_date }}</b></br>
                    <i class='small'>Créé le : {{ event.created_date }} </br></i>
                    <i class='small'>Dernière modification le : {{ event.last_update }}</i>
                    <p class="post-subtitle">{{event.description}}</p>
                    <p> Prix adulte: {{ event.adult_price }} €</p>
                    <p> Prix enfant: {{ event.child_price }} €</p>
              </div>
              <div class="col-md-4">
                <a href="{{ event.image.url }}">
                    <img class="img-details-event" src="{{ event.image.url }}" />
                </a>
              </div>
            </div>
            <hr>
        <!-- Pager -->
        {% if user.is_authenticated %}
        <div class="clearfix">
          <a class="btn btn-primary float-right margin-top30" href="#">S'inscrire &rarr;</a>
        </div>
        {% else %}
        <div class="clearfix">
            Identifiez-vous ou créez un compte pour vous inscrire à cet évènement
            <a class="btn btn-primary float-right margin-top30" href="{% url 'accounts:login' %}">S'identifier &rarr;</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>












{% endblock %}
