{% extends 'events/base.html' %}

{% block content %}
{% load static %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'events/img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading reduce-heading">
            <h1>Event Matchmaking Tennis</h1>
            <span class="subheading">Portail du TC Hénin-Beaumont</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if event %}
        <p><h2>Prochain évènement:</h2></p>
          <div class="row box margin-top30">
              <div class="col-md-8">
                  <div class="post-preview">
                      <a href="{% url 'events:event_detail' event_id=event.pk %}">
                        <h2 class="post-title margin-top5">
                          {{ event.title}}
                        </h2>
                        <h5 class="post-subtitle">
                          {{event.description}}
                        </h5>
                      </a>
                      <p class="post-subtitle">Date de l'évènement :
                        {{ event.event_date}}</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <img class='image-event'src="{{ event.image.url }}"/>
              </div>
        {% endif %}
            </div>

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right margin-top30" href="{% url 'events:events' %}">Tous les évènements &rarr;</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
